/* Import Base Styles */
@import url('components/base.css');

/* Import Component Styles */
@import url('components/header.css');
@import url('components/section_intro.css');
@import url('components/section2.css');
@import url('components/section3.css');
@import url('components/section4.css');
@import url('components/section5.css');
@import url('components/section_footer.css');