<section id="journey-event" class="section">
    <div class="journey-content-wrapper">
        <div class="divider-title">
            <div class="line"></div>
            <h2>OUR JOURNEY</h2>
            <div class="line"></div>
        </div>
        <div class="agenda-list">
            <article class="agenda-item book-item">
                <div class="agenda-desc">
                    <h3>BOOK</h3>
                    <p>Manuskrip visual yang merekam dialog antara inovasi dan tradisi di lintas negara.</p>
                    <a href="#" class="see-more">See More</a>
                </div>
                <div class="agenda-date"></div>
                <div class="agenda-media"></div>
                <div class="agenda-details"></div>
            </article>
        </div>
        <div class="divider-title">
            <div class="line"></div>
            <h2>EVENT</h2>
            <div class="line"></div>
        </div>
        <div class="agenda-list">
             <article class="agenda-item exhibition-item">
                <div class="agenda-media"></div>
                <div class="agenda-date">
                    <span>00</span>00
                </div>
                <div class="agenda-desc">
                    <h3>EXHIBITION</h3>
                    <p>Simulasi ruang yang mengajak pengunjung menelusuri ragam wajah arsitektur di wilayah tropis.</p>
                    <a href="#" class="see-more">See More</a>
                </div>
                <div class="agenda-details">
                    <p>COMING SOON</p>
                </div>
            </article>
             <article class="agenda-item talkshow-item">
                <div class="agenda-details">
                    <p><strong>SPEAKER</strong></p>
                    <p>VENUE</p>
                </div>
                <div class="agenda-desc">
                    <h3>TALKSHOW</h3>
                    <p>Dialog membedah bagaimana satu iklim mampu melahirkan seribu solusi desain.</p>
                    <a href="#" class="see-more">See More</a>
                </div>
                <div class="agenda-date"></div>
                <div class="agenda-media"></div>
            </article>
        </div>
    </div>
</section>