<section id="about" class="section">
    <div class="about-layout">
        <div class="about-content">
            <div class="content-group field-study-group">
                <div class="decorative-circle"></div>
                <h3>FIELD STUDY</h3>
                <p>Merupakan salah satu mata kuliah wajib pada semester 6 dalam Program Studi Arsitektur Fakultas Teknik Universitas Muhammadiyah Surakarta. Mata kuliah ini bertujuan untuk melatih mahasiswa dalam proses analisa lapangan agar mahasiswa dapat menganalisis di lapangan sehingga mahasiswa dapat lebih peka terhadap isu dan masalah arsitektur di sekitarnya.</p>
            </div>
            <div class="content-group anyam-ruang-group">
                 <div class="decorative-circle"></div>
                <h2>
                    <span class="text-light">Anyam Ruang:</span><br>
                    <span class="text-semibold">Lintas Ruang, Lintas Budaya</span>
                </h2>
                <p>“Anyam Ruang: Lintas Ruang, Lintas Budaya” yang didasarkan pada upaya pengembangan arsitektur dalam perubahan iklim yang terjadi saat ini dan transisi dari setiap bangunan yang dapat bertahan dari perubahan iklim yang ada, dalam menganyam ruang akan selalu hadir lintas ruang yang dalam setiap perjalanan juga tidak akan luput dari lintas budaya.</p>
            </div>
        </div>
        <div class="about-decorative-panel">
            <div class="archive-photos">
                <img src="assets/images/Section2/Singapore.png" alt="Arsip Foto Singapore">
                <img src="assets/images/Section2/Malaysia.png" alt="Arsip Foto Malaysia">
                <img src="assets/images/Section2/Thailand.png" alt="Arsip Foto Thailand">
                <img src="assets/images/Section2/Vietnam.png" alt="Arsip Foto Vietnam">
                <img src="assets/images/Section2/Minangkabau.png" alt="Arsip Foto Minangkabau">
                <img src="assets/images/Section2/Karimun.png" alt="Arsip Foto Karimun">
                <img src="assets/images/Section2/Kampung_Naga.png" alt="Arsip Foto Kampung_Naga">

                <img src="assets/images/Section2/Singapore.png" alt="Arsip Foto Singapore">
                <img src="assets/images/Section2/Malaysia.png" alt="Arsip Foto Malaysia">
                <img src="assets/images/Section2/Thailand.png" alt="Arsip Foto Thailand">
                <img src="assets/images/Section2/Vietnam.png" alt="Arsip Foto Vietnam">
                <img src="assets/images/Section2/Minangkabau.png" alt="Arsip Foto Minangkabau">
                <img src="assets/images/Section2/Karimun.png" alt="Arsip Foto Karimun">
                <img src="assets/images/Section2/Kampung_Naga.png" alt="Arsip Foto Kampung_Naga">
            </div>
        </div>
    </div>
</section>