:root {
    --bg-dark: #594734;
    --text-light: #D2C7BB;
    --header-height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--bg-dark);
}

.main-container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.main-container::-webkit-scrollbar {
    display: none;
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    position: relative;
}