.sticky-header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--text-light);
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    z-index: 1000;
}

.sticky-header.active {
    display: flex;
}

.sticky-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 32px;
    right: 32px;
    height: 1px;
    background-color: var(--bg-dark);
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header-right { gap: 20px; }
.header-logo { width: 38px; height: 36px; }

.header-title {
    color: var(--bg-dark);
    font-size: 16px;
    letter-spacing: 1.6px;
    white-space: nowrap;
}
.header-title .text-light { font-weight: 250; }
.header-title .text-semibold { font-weight: 600; }

.header-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.header-icon.burger-icon {
    width: 28px;
    height: auto;
}