#detailed-about {
    background-color: var(--text-light);
    color: var(--bg-dark);
    padding-top: var(--header-height);
    justify-content: flex-start;
    overflow: hidden; 
}

.detailed-about-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.static-pane {
    width: 25%;
    height: 100%;
    padding: 32px;
    flex-shrink: 0;
    border-right: 1px solid var(--bg-dark);
}

.static-pane h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2.4px;
    margin-bottom: 25px;
}

.static-pane p {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 150%;
}

.scrolling-pane-wrapper {
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.scrolling-pane {
    display: flex;
    height: 100%;
    width: 300%;
}

.scroll-column {
    width: 33.33%;
    height: 100%;
    padding: 32px;
    overflow-y: auto;
    border-left: 1px solid var(--bg-dark);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scroll-column:first-child { border-left: none; }
.scroll-column::-webkit-scrollbar { display: none; }

.scroll-column h4 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2.4px;
    margin-bottom: 25px;
}

.scroll-column p {
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 150%;
}

.scroll-column p + h4 {
    margin-top: 40px;
}