#intro { 
    background-color: var(--bg-dark); 
    color: var(--text-light); 
}
.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 0;
    animation: fadeIn 1.5s 0.2s ease-out forwards;
}

@keyframes fadeIn { to { opacity: 1; } }

.intro-logo img {
    width: 141.12px;
    height: auto;
}
.intro-title {
    width: auto;
    font-size: 18px; 
    letter-spacing: 9.6px;
    line-height: 125.887%; 
    text-transform: uppercase;
    white-space: nowrap;
}
.intro-title .text-light { font-weight: 250; }
.intro-title .text-semibold { font-weight: 600; }